<template>
    <div>
        <header class="main-nav">
            <slot name="header"></slot>
        </header>
        <form class="theme-form login-form" @submit.prevent="formSubmit">
            <h4 class="mb-3">Авторизация</h4>
            <div class="form-group">
                <label>Login</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="icon-email"></i></span>
                    <input class="form-control @error('name') is-login @enderror" type="text" v-model="form.login" value="">
                    <!--                    @error('login')<div class="invalid-feedback">{{$message}}</div>@enderror-->
                </div>
            </div>
            <div class="form-group">
                <label>Пароль</label>
                <div class="input-group"><span class="input-group-text"><i class="icon-lock"></i></span>
                    <input class="form-control @error('password') is-login @enderror" type="password" v-model="form.password"
                           value="">
                    <!--                    @error('password')<div class="invalid-feedback">{{$message}}</div>@enderror-->
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Вход</button>
            </div>
            <p>У вас нету аккаунта? <router-link :to="links.register.href">{{ links.register.name }}</router-link></p>
        </form>
    </div>
</template>

<script>
export default {
    name: "Login",
    data() {
        return {
            links: {
                register: {
                    name: "Рагистрирусйтесь",
                    href: "/register"
                }
            },
            form: {
                login: "",
                password: "",
            },
            old: {
                login: "",
                password: ""
            },
            errors: []
        }
    },
    methods: {
        formSubmit() {
            axios.post('/api/login', {
                login: this.form.login,
                password: this.form.password
            }).then(response => {
                console.log(response.data)
            }).catch(error => {
                console.log(error)
            })
        }
    }
}

</script>
