<template>
    <div>
        <div class="container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Админ панель</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">Главная</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid general-widget">
            <div class="row">
                <div class="col-sm-6 col-xl-3 col-lg-6">
                    <div class="card o-hidden border-0">
                        <div class="bg-secondary b-r-4 card-body">
                            <div class="media static-top-widget">
                                <div class="align-self-center text-center"><i data-feather="user-plus"></i></div>
                                <div class="media-body"><span class="m-0">Количество пользователей</span>
                                    <h4 class="mb-0 counter">{{ this.userCount }}</h4><i class="icon-bg"
                                                                                         data-feather="user-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 col-lg-6">
                    <div class="card o-hidden border-0">
                        <div class="bg-primary b-r-4 card-body">
                            <div class="media static-top-widget">
                                <div class="align-self-center text-center"><i data-feather="database"></i></div>
                                <div class="media-body"><span class="m-0">Количество категории</span>
                                    <h4 class="mb-0 counter">{{ this.categoryCount }}</h4><i class="icon-bg"
                                                                                             data-feather="database"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 col-lg-6">
                    <div class="card o-hidden border-0">
                        <div class="bg-secondary b-r-4 card-body">
                            <div class="media static-top-widget">
                                <div class="align-self-center text-center"><i data-feather="shopping-bag"></i></div>
                                <div class="media-body"><span class="m-0">Количество постов</span>
                                    <h4 class="mb-0 counter">{{ this.articleCount }}</h4><i class="icon-bg"
                                                                                            data-feather="shopping-bag"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 col-lg-6">
                    <div class="card o-hidden border-0">
                        <div class="bg-primary b-r-4 card-body">
                            <div class="media static-top-widget">
                                <div class="align-self-center text-center"><i data-feather="message-circle"></i></div>
                                <div class="media-body"><span class="m-0">Messages</span>
                                    <h4 class="mb-0 counter">893</h4><i class="icon-bg"
                                                                        data-feather="message-circle"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Index',
    data() {
        return {
            userCount: 0,
            categoryCount: 0,
            articleCount: 0,
        }
    },
    methods: {
        /*            getCount() {
                        axios.get('/admin')
                        .then(response => {
                            let data = response.data
                            this.userCount = Object.keys(data.users).length
                            this.categoryCount = Object.keys(data.user.categories).length
                            this.articleCount = Object.keys(data.user.articles).length

                        }).catch(() => {

                        })
                    },*/
    },
    mounted() {
        // this.getCount()
        console.log(this.userCount)
    }
}
</script>
